@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat",sans-serif;
}

.login_container{
    position :block;
    width: 100%;

}

.side_image{
    width: 45%;
    height: 100vh;
    padding-right: 2%;
    left: 0;
    top: 0;
}

.side_image img{
    width: 120%;
    height: 100vh;
    object-fit: cover;
}

.side_form{
    width: 35%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: absolute;
    right: 0;
    top: 0;
}

.form_container{
    max-width: 850px;
    width: 100%;
}

.form_container .top_logo{
    width: 12%;
    height: auto;
    margin-bottom: 1%;
}

.form_container .title{
    font-size: 4vh;
    font-weight: 700;
}

.form_container form .user_detail{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user_detail .input_box{
    width: calc(100% / 2 - 20px);
    margin-bottom: 15px;
}

form .user_detail .address_box{
    width: 100%;
}

.user_detail .input_box .detail{
    font-weight: 500;
    display: block;
}

.user_detail .input_box input{
    height: 40px;
    width:350px;
    margin-top: 1.5%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 80%;
    font-family: "Montserrat";
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user_detail .input_box input:focus,
.user_detail .input_box input:valid{
    border-color: #0098FF;
}

.signin_button{
    color: white;
    height: 100%;
    width: 100%;
    font-size: 2vh;
    padding: 2%;
    font-weight: 600;
    outline: none;
    border: none;
    background: #0098FF;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.26);
}

form .button input:hover{
    cursor: pointer;
    border: 1px solid #0098FF;
    background: none;
    color: black;
}
.form-button{
    display: flex;
    flex-direction: row;
    width:65%;
    justify-content:space-between;
    margin:14px;
    
}
.left{
    display: flex;
}
.lebel a{
    color: #ccc;
    text-decoration: none;
}
.bottom-reg{
display: block;
position: absolute;
text-align:justify;
right: 0;
left: 0px;
margin-top: 8px;

}