@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #afe4ff16;
}

li,a{
    font-family: "Montserrat",sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #171717;
    text-decoration: none;
}

button{
    font-family: "Montserrat",sans-serif;
    font-weight: 800;
    font-size: 20px;
    color: #171717;
    text-decoration: none;
    padding: 9px 20px;
    border: 0;
    background-color: white;
}

button:hover{
    cursor: pointer;
    color: #0098FF;
}

header{
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 8%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.788);
}

.logo{
    cursor: pointer;
    padding: 10px;
}


.nav_links{
    list-style: none;
    margin-left: 5px;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a:hover{
    color: #0098FF;
}

/*Banner*/

.banner{
    width: 100%;
    height: auto;
    background-image: url(images/home_main.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner_txt{
    font-family: "Montserrat",sans-serif;
    font-weight: 500;
    text-align: center;
    padding: 20px;
    font-size: 40px;
}

/*Feature Section*/

.features_section{
    width: 100%;
    height: 70%;
    padding: 5% 8% 5% 8%;
}

h1{
    font-family: "Montserrat";
    font-weight: 800;
    font-size: 65px;
    text-align: center;
}

.box {
    width: 40%;
    height: 65vh;
    background-color: white;
    border: 0;
    border-radius: 40px;
    text-align: center;
    margin: 20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.267);
}

.box_title{
    font-family: "Montserrat",sans-serif;
    font-weight: 700;
    font-size: 2.5vw;
    height: auto;
    color: #0980FF;
    text-align: center;
    margin: 10% 10% 5% 10%;
}

.box_img{
    margin-top: 10%;
}

.box_desc{
    font-family: "Montserrat",sans-serif;
    font-weight: 500;
    font-size: 3vh;
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
}

.features_container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1% 5% 0% 5%;
}


/**about**/

.about_sec{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.wrapper{
    width: 75%;
    margin: 5%;
}

.wrapper img{
    max-width: 40%;
    float: right;
    margin-left: 2%;
    padding: 2%;
}

.text_box h2{
    font-family: "Montserrat",sans-serif;
    font-weight: 700;
    font-size: 5.5vh;
    color: #0980FF;
}

.text_box p{
    font-family: "Montserrat",sans-serif;
    font-weight: 500;
    font-size: 2.5vh;
    margin-top: 2%;
}

/**FAQ SECTION**/

.faq_section{
    padding: 5% 8% 0% 8%;
}

.faq_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 2% 5% 5% 5%;
}

.faq_box{
    width: 60%;
    background-color: white;
    display: flex;
    justify-content: baseline;
    align-items: center;
    padding: 1%;
    margin: 1%;
    border: 0;
    border-radius: 15px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.267);
    
}

.ques{
    padding: 1%;
    font-family: "Montserrat",sans-serif;
    font-weight: 600;
    color: #0980FF;
}

.icon{
    margin-left: auto;
    font-family: "Montserrat",sans-serif;
    font-weight: 500;
    padding: 1%;
}

.footer{
    padding: 40px 0;
    background-color: #302e2e;
    bottom: 0;
}

.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: #ebebdf;
}
.footer .social a{
    font-size: 25px;
    color: inherit;
    border: 1px solid #383836;
    width: 45px;
    height: 45px;
    line-height: 40px;
    padding: 10px;
    position: relative;
    text-align: center;
    border-radius: 50%;
    margin: 0 15px;
    opacity: 0.75;
}
.footer .social a:hover{
    opacity: 0.9;
}
.footer ul{
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 0;
    text-align: center;
    
}
.footer ul li a{
    color:#fffdfd;
    text-decoration: none;
    opacity: 0.8;
}
.footer ul li{
    display: inline-block;
    padding: 0 15px;
}
.footer ul li a:hover{
    opacity: 1;
}
.footer .copyright{
    font-family: "Montserrat",sans-serif;
    margin-top:-4px;
    text-align: center;
    font-size: 20px;
    color: #cacccf;
    margin: 4px;
}

.footer_logo{
    text-align: center;
    margin-bottom: 2%;
}
label a{
    color: #2d373b;
    text-decoration: none;
    font-size: 15px;
    
    

}
