@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #afe4ff16;
}

li,a{
    font-family: "Montserrat",sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #171717;
    text-decoration: none;
}

button{
    font-family: "Montserrat",sans-serif;
    font-weight: 800;
    font-size: 20px;
    color: #171717;
    text-decoration: none;
    padding: 9px 20px;
    border: 0;
    background-color: white;
}

button:hover{
    cursor: pointer;
    color: #0098FF;
}

header{
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 8%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.788);
}

.logo{
    cursor: pointer;
    padding: 10px;
}


.nav_links{
    list-style: none;
    margin-left: 5px;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a:hover{
    color: #0098FF;
}

.banner{
    width: 100%;
    height: auto;
    background-image: url(images/home_main.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner_txt{
    font-family: "Montserrat",sans-serif;
    font-weight: 500;
    text-align: center;
    padding: 20px;
    font-size: 40px;
}

.features_section{
    padding: 5% 8% 5% 8%;
}

h1{
    font-family: "Montserrat";
    font-weight: 800;
    font-size: 65px;
    text-align: center;
}

.box {
    background-color: white;
    border: 0;
    border-radius: 40px;
    text-align: center;
    margin: 20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.267);
}

.box_title{
    font-family: "Montserrat",sans-serif;
    font-weight: 700;
    font-size: 50px;
    width: 80%;
    height: auto;
    color: #0980FF;
    margin: 10%;
}

.box_img{
    margin-top: 10%;
}

.box_desc{
    font-family: "Montserrat",sans-serif;
    font-weight: 500;
    font-size: 30px;
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.features_container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1% 5% 5% 5%;
}

/**about**/

.about_section{
    padding: 0% 5% 5% 5%;
}

.about_container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 3% 5% 5% 5%;
}

.about_content{
    width: 50%;
    
}

.about_content h3{
    font-family: "Montserrat",sans-serif;
    font-weight: 700;
    font-size: 45px;
    width: 80%;
    height: auto;
    color: #0980FF;
}

.about_content p{
    font-family: "Montserrat",sans-serif;
    font-weight: 500;
    font-size: 20px;
    height: auto;
    margin-top: 2%;
}

.about_image{
    width: 40%;
}

.about_image img{
    width: 100%;
    height: auto;
}

/**FAQ SECTION**/

.faq_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 2% 5% 5% 5%;
}

.faq_box{
    width: 60%;
    background-color: white;
    display: flex;
    justify-content: baseline;
    align-items: center;
    padding: 1%;
    margin: 1%;
    border: 0;
    border-radius: 15px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.267);
    
}

.ques{
    padding: 1%;
    font-family: "Montserrat",sans-serif;
    font-weight: 600;
    color: #0980FF;
}

.icon{
    margin-left: auto;
    font-family: "Montserrat",sans-serif;
    font-weight: 500;
    padding: 1%;
}

.footer{
    padding: 40px 0;
    background-color: #302e2e;
    bottom: 0;
}

.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: #ebebdf;
}
.footer .social a{
    font-size: 25px;
    color: inherit;
    border: 1px solid #383836;
    width: 45px;
    height: 45px;
    line-height: 40px;
    padding: 10px;
    position: relative;
    text-align: center;
    border-radius: 50%;
    margin: 0 15px;
    opacity: 0.75;
}
.footer .social a:hover{
    opacity: 0.9;
}
.footer ul{
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 0;
    text-align: center;
    
}
.footer ul li a{
    color:#fffdfd;
    text-decoration: none;
    opacity: 0.8;
}
.footer ul li{
    display: inline-block;
    padding: 0 15px;
}
.footer ul li a:hover{
    opacity: 1;
}
.footer .copyright{
    font-family: "Montserrat",sans-serif;
    margin-top:-4px;
    text-align: center;
    font-size: 20px;
    color: #cacccf;
    margin: 4px;
}

.footer_logo{
    text-align: center;
    margin-bottom: 2%;
}

